@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Movie Web</h1>
    <br />
    <br/>
    <p>
        Welcome to Movie Web, your ultimate destination for everything related to movies and actors! Dive into the captivating world of cinema with our comprehensive database that tracks the latest releases, timeless classics, and everything in between. Whether you're a cinephile or just looking for a casual movie night suggestion, Movie Web has you covered.
<p/>
<p>
        Explore our vast collection of movies and actors, where you can discover in-depth information, trailers, and reviews. But that's not all! With Movie Web, you can also delve deeper into the online conversation surrounding your favorite films and stars. Through our integration with Reddit, you have the unique opportunity to explore real-time discussions and insights from the passionate movie community.
    </p>
</div>
